@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic-ext');

* {
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

a, p{
	font-size: 16px;
	outline:none !important;
}

.dot1{
	transform: translate(-100%, 0%);
	opacity: 0;
	-webkit-transition: all 0.5s ease;;
	-moz-transition: all 0.5s ease;;
	-o-transition: all 0.5s ease;;
	transition: all 0.8s ease;
}

.dot2{
	transform: translate(100%, 0%);
	opacity: 0;
	-webkit-transition: all 0.5s ease;;
	-moz-transition: all 0.5s ease;;
	-o-transition: all 0.5s ease;;
	transition: all 0.8s ease;
}


.cont {
	height: 100vh;
	transform: translate(0%, -30%);
	opacity: 0;
	-webkit-transition: all 1s ease;;
	-moz-transition: all 1s ease;;
	-o-transition: all 1s ease;;
	transition: all 1s ease;
}

body {
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	background-color: #202020;
	position: relative;
	overflow: hidden;
	/*overflow: auto;*/
}

.sect_1 {
	background-image: url(../img/f4.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.img{
	position: relative;
}

.img > img{
	position: absolute;
	height: 90vh;
	/*transform: scale(-1, 1);*/
	right: 5%;
	/*color: #000;*/
	margin-top: 5%;
	opacity: 0.5;
}


.head_text {
    color: #fff;
    display: inline-block;
    /*font-weight: bold;*/
    height: 130px;
    left: 50%;
    margin-left: -203px;
    margin-top: -65px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 406px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    text-shadow:  1px 1px 2px black/*, 0 0 1em #000*/;
    /*box-shadow:  1px 1px 2px black, 0 0 1em #000;*/
}
.head_text a{
	color: #fff;
	font-size: 46px;
}
.head_text .aaa{
	color: #fff;
	font-size: 47px;
}

.head_row{
	height: 100vh;
}

.l_wrap {
	height: 100vh;
	position: fixed;
	z-index: 1;
	background-color: #555;
	width: 100%;
}

.soc_butttom{
	/*position: fixed;*/
	z-index: 1;
	/*width: 100%;*/
/*	top: 50%;
	margin-top: -80px;
	right: 0%;*/
}
.soc_butttom ul{
	margin: 0;
	padding: 0;
}
.soc_butttom ul li{
	 list-style-type: none;
	 display: inline-table;
}
.soc_butttom ul li a{
	font-size: 30px;
	opacity: 0.3;
	outline: none;
	padding: 10px;
}
.soc_butttom ul li a:hover{
	font-size: 30px;
	opacity: 1;
}
.soc_butttom ul li a i{
	text-shadow:  5px 5px 5px black/*, 0 0 1em #000*/;
}

.name{
	text-align: center;
	transform: translate(0%, -100%) rotate(180deg);
	/*transform: rotate(180deg);*/
	opacity: 0;
	-webkit-transition: all 1s ease;;
	-moz-transition: all 1s ease;;
	-o-transition: all 1s ease;;
	transition: all 1s ease;
	margin-top: 5%;
	margin-bottom: 5%;
}

.scill ul{
	margin: 0;
	padding: 0;
}
.scill ul li{
	list-style-type: none;
	background-color: #404040;
	display: inline-table;
	margin: 3px;
	border-radius:5px;

}
.scill ul li p{
	margin: 0;
	padding: 0 4px;
}

#age{
	white-space: nowrap;
	color: #fff;
}

h2{
	text-align: center;
}

.foot_col{
	text-align: center;
}
.foot_col a{
	margin: 5;
}

.footer {
    margin-top: 5%;
}
.footer a{
	margin: 0;
	color: #fff;
	font-size: 21px;
}

.visible {
    /*bottom:0;*/
    transform: translate(0%, 0%);
	opacity: 1;
}

#pageText{
	position: absolute;
	left: 60%;
	margin: 5% 0;
	/*width: 400px;*/
	color: #aaa;
	text-shadow: 2px 2px 0px #000;
}
